[submodule "ch2_dyngen"]
	path = ch2_dyngen
	url = git@github.com:rcannood/dyngen_analysis.git
[submodule "ch5_scorpius"]
	path = ch4_scorpius
	url = git@github.com:rcannood/scorpius_analysis.git
[submodule "ch7_selfassessment"]
	path = ch7_selfassessment
	url = git@github.com:rcannood/selfassessment.git
